*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #01060e;
}
header {
    background-color: #071529;
    font-family: verdana;
 font-size: 14pt;
    
    padding: 10px;
 height: 50px;
    padding-top: 20px;
    padding-bottom: 20px
    
}
#n{
    text-decoration: none;
    color: #06c;
}
#c{
    text-decoration: none;
    color: #db2105;
}
#h{
 margin-left: 85%
}
